body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.EntirePage{
    margin: 0;
    padding: 0;
}
.NavigatorHome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: coral;
    font-size: 19px;
    ul{
        margin: 28px;
        
        font-weight: 700;
        list-style: none;
        width: 65%;
        display: flex;
        justify-content: space-around;
    }
    a{
        color: white;
        text-decoration-line: none;
    }
    a:hover{
        color: lightgray;
        transition: 0.4s;
    }
}
.ButtonLoginSign{
    display: flex;
    align-self: center;
    justify-content: center;
}
.ButtonLogin{
    font-weight: 400;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 16px;
    width: 80px;
    height: 45px;
}
.ButtonLogin:hover{
    background-color: lightgray;
    color: white;
    transition: 0.7s;
}
.ButtonSign{
    font-weight: 400;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 95px;
    height: 45px;
}
.ButtonSign:hover{
    background-color: lightgray;
    color: white;
    transition: 0.7s;
}
.ContactUsCover{
    border-radius: 10px;
    background-color: coral;
    margin: 15px;
    padding: 10px;
    h2{
        text-align: center;
        font-size: 30px;
        color: white;
    }
}
.ContactUsInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    h3{
        font-size: 20px;
        color: black;
    }
    p{
        font-size: 16px;
        color: black;
    }
}